/* color:
primary bgc #F5F5F5,
 secondary bgc #F5F4FA наша команда,
 hero&footer bgc background: #2F303A;
h2-h3 color: #212121;
p color: #757575; +adress
logo color: #000000 #2196F3 (blue accent) #FFFFFF (footer)
tel&mail footer color: rgba(255, 255, 255, 0.6);

*/
/* Raleway - secondary font*/
:root {
  --primary-bgc-color: #F5F5F5;
  --secondary-bgc-color: #F5F4FA;
  --hero-ftr-bgc-color: #2F303A;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-color: #000000;
  --white-logo-color: #FFFFFF;
  --accent-color: #2196F3;
  --ftr-text-color: rgba(255, 255, 255, 0.6);
  --btn-hover-focus: #188CE8;
  --border-color: #EEEEEE;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}
/* убирає маркери в ненумерованих списках */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* убирає нижнє підкрислення в посиланнях */
.link {
    text-decoration: none;
}


/* клас для всіх скритих елементів */
.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a, h2, h3 {
  color: var(--title-text-color);
}

p {
  color: var(--primary-text-color)
}

/* -----header-------- */
.header {
  background-color: var(--white-logo-color);
}

.main-nav {
  display: flex;
  align-items: center;
  padding-left: 215px;
  padding-right: 215px;
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  
}

.header-logo .span-color {
  color: var(--logo-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-address {
  display: flex;
  margin-left: auto;
}

.header-address .item + .item {
    margin-left: 50px;
}


.header-address .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

/* ------hero-------- */
.hero {
  background-color: var(--hero-ftr-bgc-color);
}

.hero-title {
  color: var(--white-logo-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-logo-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--btn-hover-focus);
  cursor: pointer;
}

/* ----Work---- */
.work {
  background-color: var(--primary-bgc-color);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* ----team---- */
section.team {
  background-color: var(--secondary-bgc-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card {
  background: var(--white-logo-color);
}

.team-card:hover, .team-card:focus {
  background: var(--white-logo-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; 
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ----footer---- */

.footer {
  background-color: var(--hero-ftr-bgc-color);
}

.ftr-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.ftr-logo .span-color {
  color: var(--white-logo-color);
}

.ftr-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-logo-color);
}

.ftr-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ftr-text-color);
}

/* -----Portfolio-main------(header&footer=same as home page) */
/* -----filters----- */
.filters-btn {
  background: var(--secondary-bgc-color);
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.current-filter {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-logo-color);
}



.filters-btn:hover, .filters-btn:focus {
  cursor: pointer;
  color: var(--accent-color);
  }

.current-filter:hover, .current-filter:focus {
  color: var(--white-logo-color);
  background: var(--btn-hover-focus);
}

/* -------Proekts-------- */

.proekt-card {
  background: var(--white-logo-color);
  border: 1px solid var(--border-color);
}

.proekt-card:hover, .proekt-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.proekt-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.proekt-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}


